#highlights {
    width: var(--mw-100);
    margin: 0 auto;
    height: auto;
    position: relative;
    max-width: 1920px;
}

.highlights_row {
    width: var(--mw-60);
    margin: 0 auto;
    height: auto;
    padding: 2% 0;
}

.highlights_row .container_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 0 30px;
}

.highlights_row .container_title::after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background: var(--bg-gray-100);
    bottom: 6px;
    z-index: 0;
}

.highlights_row .container_title .title {
    font-size: var(--text-2xl);
    font-weight: var(--font-normal);
    color: var(--text-gray-300);
    text-align: start;
    background: var(--bg-white);
    padding: 0 25px 0 0;
    z-index: 1;
}

.highlights_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 50px;
    align-items: center;
    justify-content: center;
}

.highlights_items .highlights_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.highlights_item .highlights_item_image {
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlights_item .highlights_item_image img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.highlights_item_contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto;
}

.highlights_item_contents .highlights_texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 5px;
}

.highlights_item_contents .highlights_texts h4 {
    font-size: var(--text-md);
    font-weight: var(--font-normal);
    color: var(--text-gray-500);
    line-height: 20px;
    text-align: start;
}

.highlights_item_contents .highlights_texts p {
    font-size: var(--text-sm);
    font-weight: var(--font-light);
    color: var(--text-gray-400);
    line-height: 20px;
    text-align: start;
}

.highlights_item_contents .highlights_contents_button {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.highlights_item_contents .highlights_contents_button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--text-gray-300);
    text-decoration: none;
    font-size: var(--text-xs);
    position: relative;
    font-weight: var(--font-light);
    transition: all .25s;
}

.highlights_item_contents .highlights_contents_button a img {
    width: 18px;
    height: 18px;
    position: relative;
    right: 0;
    filter: brightness(1);
    transition: all .25s;
}

.highlights_item_contents .highlights_contents_button a:hover img {
    right: -5px;
    filter: brightness(.6);
}

.highlights_item_contents .highlights_contents_button a:hover {
    color: var(--text-gray-500);
}

@media screen and (max-width: 1366px) {
    .highlights_row {
        width: var(--mw-70);
    }
}

@media screen and (max-width: 1280px) {
    .highlights_row {
        width: var(--mw-90);
    }
}

@media screen and (max-width: 1000px) {
    .highlights_row {
        padding: 10% 0;
    }

    .highlights_row .container_title {
        justify-content: center;
    }

    .highlights_row .container_title .title {
        text-align: center;
        padding: 0 20px;
    }

    .highlights_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .highlights_item_contents .highlights_contents_button {
        display: none;
    }
}