#categories {
    width: var(--mw-100);
    height: auto;
    margin: 0 auto;
    position: relative;
}

#categories .categories_row {
    width: var(--mw-60);
    margin: 0 auto;
    height: auto;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
}

.categories_title {
    font-size: var(--text-3xl);
    text-align: center;
    font-weight: var(--font-medium);
    color: var(--text-green-400);
    height: auto;
}

.categories_items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px;
}

.categories_items .categories_item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.categories_item .item_icon_circle {
    width: 212px;
    height: 212px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    background: var(--bg-green-400);
    border-radius: 50%;
    border: 2px solid var(--border-green-400);
    align-items: center;
    justify-content: center;
}

.categories_item .item_icon_circle img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.categories_items .categories_item a {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    background: var(--bg-green-400);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: var(--text-sm);
    font-weight: var(--font-light);
    transition: var(--duration-025);
    color: var(--text-white);
}

.categories_items .categories_item a:hover {
    background: var(--bg-green-900);
}

@media screen and (max-width: 540px) {
    .moviesplaying_title {
        text-align: center;
    }

    .moviesplaying_items {
        flex-direction: column;
    }

    #moviesPlaying .moviesplaying_row {
        padding: 15% 0;
    }

    #categories .categories_row {
        padding: 15% 0;
    }

    .categories_items {
        flex-direction: column;
    }
}