header {
    width: var(--mw-100);
    height: 60px;
    position: fixed;
    background-image: linear-gradient(170deg, var(--bg-green-300), var(--bg-green-900) 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 0 0 10px var(--bg-black);
}

header .header_row {
    width: var(--mw-90);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .header_row nav.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
}

header .header_row nav.mobile {
    display: none;
}

header .header_row .container_logo {
    width: 100%;
    height: auto;
    max-width: 195px;
    max-height: 37px;
}

header .header_row .container_logo .logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.header_row nav.desktop .container_nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
}

.container_nav_menu .nav_item {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    justify-content: center;
    padding: 0px 10px;
}

.container_nav_menu .nav_item a {
    text-decoration: none;
    color: var(--text-white);
    font-size: var(--text-sm);
    font-weight: var(--font-light);
    transition: .15s;
    text-transform: uppercase;
}

.container_button_search {
    width: 30px;
    height: auto;
    position: relative;
    transition: all var(--duration-05);
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.container_input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 0%;
    position: relative;
    transition: all var(--duration-05);
}

.container_input.active {
    display: flex;
}

.container_button_search .button_search {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    display: flex;
    padding: 3px;
    box-shadow: -10px 0px 15px #4ebb7ca6;
    align-items: center;
    height: 30px;
    border-radius: 0 5px 5px 0;
    transition: all var(--duration-05);
    justify-content: center;
    position: relative;
}

.container_social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 40px 0 0;
}

.container_social_media a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_social_media a img {
    margin: 0 auto;
}

.container_cta {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 6px;
}

.container_cta a {
    background: var(--bg-white);
    padding: 10px;
    text-decoration: none;
    color: var(--text-green-500);
    font-weight: var(--font-normal);
    font-size: var(--text-sm);
    transition: all var(--duration-025);
}

.container_cta a:nth-child(2) {
    background: var(--bg-green-100);
}

.container_cta a:hover {
    color: var(--text-white);
    background: var(--bg-green-400);
}

.container_input .input_search {
    padding: 5px;
    border: 0px solid transparent;
    background: var(--bg-gray-100);
    height: 30px;
    width: 100%;
    border-radius: 5px 0 0 5px;
    transition: all var(--duration-025);
    outline: none;
}

.container_input::after {
    content: '';
    position: absolute;
    display: none;
    top: -8px;
    width: 10px;
    height: 10px;
    background: var(--bg-gray-100);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.container_button_search.active {
    width: 200px;
}

.container_button_search.active .button_search {
    background: #0a8624;
}

.container_button_search.active .container_input {
    width: 80%;
}

.container_button_search .button_search img {
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
    margin: 0 auto;
    transition: var(--duration-025);
    padding: 2px;
}

.container_nav_menu .nav_item::after {
    content: '';
    width: 1px;
    position: absolute;
    right: -6px;
    background-color: var(--bg-white);
    height: 100%;
}

.container_nav_menu .nav_item:last-child::after {
    display: none;
}

.container_nav_menu .nav_item a:hover {
    color: var(--text-green-400);
}

.menu_toggle {
    display: none;
}

.container_button_search.active .button_search img {
    transform: rotate(360deg);
    width: 0
}

.container_button_search.active .button_search::after {
    width: 80%;
    height: 1px;
    transform: translate(0px, 0px) rotate(45deg);
}

.container_button_search.active .button_search::before {
    width: 80%;
    height: 1px;
    transform: translate(0px, 0px) rotate(135deg);
}

.container_button_search .button_search::before {
    content: '';
    width: 0%;
    height: 0px;
    position: absolute;
    transform: translate(0px, 0px) rotate(0deg);
    background: white;
    transition: all var(--duration-025);
}

.container_button_search .button_search::after {
    content: '';
    width: 0%;
    height: 0px;
    position: absolute;
    transform: translate(0px, 0px) rotate(0deg);
    background: white;
    transition: all var(--duration-025);
}

@media screen and (max-width: 1280px) {
    .container_social_media {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    header .header_row nav.desktop {
        display: none;
    }

    .menu_toggle {
        display: flex;
        width: 35px;
        flex-direction: column;
        height: 35px;
        position: relative;
        align-items: center;
        right: 0;
        justify-content: center;
        gap: 10px;
    }

    .menu_toggle .menu_lines {
        width: 100%;
        height: 2px;
        background: white;
        transform: translate(0px, 0px);
        transition: all .3s;
    }

    .menu_toggle.active .menu_lines:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu_toggle.active .menu_lines:nth-child(2) {
        width: 0px;
    }

    .menu_toggle.active .menu_lines:nth-child(3) {
        transform: rotate(135deg) translate(-8px, 8px);
    }

    header .header_row nav.mobile.active {
        right: -22px;
    }

    header .header_row nav.mobile {
        display: flex;
        position: absolute;
        top: 45px;
        right: -400px;
        padding: 20px;
        background: #2a2a2a;
        box-shadow: -2px 5px 10px #00000063;
        width: 250px;
        flex-direction: column;
        gap: 25px;
        border-radius: 0px 0 0 10px;
        transition: all .3s;
    }

    nav.mobile .container_button_search {
        display: flex;
        width: 100%;
    }

    nav.mobile .container_social_media {
        display: none;
    }

    nav.mobile .container_cta {
        gap: 10px;
        width: 100%;
    }

    nav.mobile .container_cta a {
        width: 100%;
        border-radius: 5px;
        font-size: var(--text-xs);
        text-align: center;
    }

    nav.mobile .container_nav_menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    nav.mobile .container_nav_menu .nav_item {
        padding: 15px 0;
        width: 100%;
        text-align: start;
        justify-content: flex-start;
    }

    nav.mobile .container_nav_menu .nav_item::after {
        display: none;
    }

    nav.mobile .container_nav_menu .nav_item a {
        width: 100%;
        height: 100%;
    }

    nav.mobile .container_nav_menu::after {
        content: '';
        width: 100%;
        height: 1px;
        position: relative;
        background: #737373;
    }

    .container_button_search .button_search img {
        width: 100%;
        transform: rotate(0deg);
    }

    .container_button_search .button_search {
        background: #0a8624;
    }

    .container_button_search .button_search::before {
        display: none;
    }

    .container_button_search .button_search::after {
        display: none;
    }

    .container_button_search .container_input {
        width: 80%;
    }
}