#carouselMain {
    width: var(--mw-100);
    position: relative;
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
}

#carouselMain .carouselmain_row {
    width: var(--mw-90);
    margin: 0 auto;
    padding: 5% 0;
}

#carouselMain .carouselmain_row .carousel_container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

#carouselMain .carousel_slides {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    position: relative;
    justify-content: flex-start;
}

#carouselMain .carousel_slides::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, white 5%, transparent 25%);
    z-index: 1;
}

#carouselMain .carousel_slides::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(270deg, white 5%, transparent 25%);
    z-index: 2;
}

#carouselMain .carousel_slides .carousel_item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    height: auto;
    margin: 0;
    transition: all .3s;
    border-radius: 20px;
    position: absolute;
}

#carouselMain .carousel_slides .carousel_item img {
    width: 100%;
    border-radius: 20px;
    height: auto;
}

#carouselMain .carousel_item.item-0 {
    transform: translateX(25%) scale(.8);
    z-index: 0;
    width: 100%;
}

#carouselMain .carousel_item.item-1 {
    transform: translateX(35%) scale(.9);
    z-index: 1;
    width: 100%;
}

#carouselMain .carousel_item.item-2 {
    width: 100%;
    filter: drop-shadow(0px 8px 8px #00000070);
    transform: translateX(55%) scale(1);
    z-index: 2;
}

#carouselMain .carousel_item.item-3 {
    transform: translateX(75%) scale(.9);
    z-index: 1;
    width: 100%;
}

#carouselMain .carousel_item.item-4 {
    transform: translateX(85%) scale(.8);
    z-index: 0;
    width: 100%;
}

#carouselMain .carousel_actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 15px;
}

#carouselMain .carousel_actions .carousel_dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 5px;
}

#carouselMain .carousel_actions .carousel_dots .dot {
    width: 12px;
    height: 12px;
    transition: all .25s;
    border-radius: 50%;
    background-color: var(--bg-gray-200);
    cursor: pointer;
}

#carouselMain .carousel_actions .carousel_dots .dot.active {
    background-color: var(--bg-green-100);
    box-shadow: 0 0 0 var(--bg-green-100);
    transition: all .25s;
}

#carouselMain .carousel_actions .carousel_prev {
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#carouselMain .carousel_actions .carousel_next {
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#carouselMain .carousel_actions .carousel_next img:hover {
    filter: brightness(0.5);
}

#carouselMain .carousel_actions .carousel_prev img:hover {
    filter: brightness(0.5);
}

#carouselMain .carousel_actions .carousel_dots .dot:hover {
    background-color: var(--bg-gray-400);
}

#carouselMain .carousel_actions .carousel_dots .dot.active:hover {
    background-color: var(--bg-green-100);
    box-shadow: 0 0 10px var(--bg-green-100);
}

@media screen and (max-width: 1600px) {
    #carouselMain .carousel_item.item-0 {
        transform: translateX(5%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(20%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(40%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(60%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(76%) scale(.8);
    }

}

@media screen and (max-width: 1440px) {
    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(15%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(30%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(46%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(62%) scale(.8);
    }
}

@media screen and (max-width: 1366px) {
    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(25%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(40%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(50%) scale(.8);
    }
}

@media screen and (max-width: 1280px) {
    #carouselMain .carousel_slides .carousel_item {
        max-width: 720px;
    }

    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(29%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(48%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(58%) scale(.8);
    }
}

@media screen and (max-width: 1260px) {
    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(26%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(43%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(53%) scale(.8);
    }
}

@media screen and (max-width: 1230px) {
    #carouselMain .carousel_slides .carousel_item {
        max-width: 650px;
    }

    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(31%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(52%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(62%) scale(.8);
    }
}

@media screen and (max-width: 1180px) {
    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(28%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(46%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(56%) scale(.8);
    }
}

@media screen and (max-width: 1120px) {
    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(24%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(40%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(50%) scale(.8);
    }
}

@media screen and (max-width: 1080px) {
    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(22%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(35%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(45%) scale(.8);
    }
}

@media screen and (max-width: 1000px) {
    #carouselMain .carousel_slides {
        height: 340px;
    }

    #carouselMain .carousel_slides .carousel_item {
        max-width: 550px;
    }

    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(10%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(30%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(50%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(60%) scale(.8);
    }
}

@media screen and (max-width: 780px) {
    #carouselMain .carousel_slides {
        height: 320px;
    }

    #carouselMain .carousel_slides .carousel_item {
        max-width: 500px;
    }

    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(8%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(20%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(33%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(42%) scale(.8);
    }
}

@media screen and (max-width: 680px) {
    #carouselMain .carousel_slides .carousel_item {
        max-width: 450px;
    }

    #carouselMain .carousel_slides {
        height: 260px;
    }

    #carouselMain .carousel_item.item-0 {
        transform: translateX(0%) scale(.8);
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(0%) scale(.9);
    }

    #carouselMain .carousel_item.item-2 {
        transform: translateX(20%) scale(1);
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(40%) scale(.9);
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(40%) scale(.8);
    }

    #carouselMain .carousel_slides::before {
        display: none;
    }

    #carouselMain .carousel_slides::after {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    #carouselMain .carousel_slides {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        overflow: hidden;
        justify-content: center;
        height: 280px;
    }

    #carouselMain .carouselmain_row {
        width: var(--mw-100);
        margin: 0 auto;
        padding: 5% 0;
    }

    #carouselMain .carouselmain_row .carousel_container {
        width: 100%;
        height: auto;
    }

    #carouselMain .carousel_slides .carousel_item {
        width: 100%;
        max-width: 800px;
        height: auto;
    }

    #carouselMain .carousel_item.item-0 {
        transform: translateX(-15%) scale(.8);
        z-index: 0;
        width: 90%;
    }

    #carouselMain .carousel_item.item-1 {
        transform: translateX(-15%) scale(.8);
        z-index: 1;
        width: 90%;
    }

    #carouselMain .carousel_item.item-2 {
        width: 90%;
        filter: unset;
        transform: translateX(0%) scale(1);
        z-index: 2;
    }

    #carouselMain .carousel_item.item-3 {
        transform: translateX(15%) scale(.8);
        z-index: 0;
        width: 90%;
    }

    #carouselMain .carousel_item.item-4 {
        transform: translateX(15%) scale(.8);
        z-index: 0;
        width: 90%;
    }

    #carouselMain .carousel_actions .carousel_prev {
        display: none;
    }

    #carouselMain .carousel_actions .carousel_next {
        display: none;
    }

    #carouselMain .carousel_slides::before {
        display: none;
    }

    #carouselMain .carousel_slides::after {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    #carouselMain .carousel_slides {
        height: 230px;
    }
}

@media screen and (max-width: 360px) {
    #carouselMain .carousel_slides {
        height: 200px;
    }
}

@media screen and (max-width: 280px) {
    #carouselMain .carousel_slides {
        height: 130px;
    }
}