#freeChannel .carousel_container .carousel_prev {
    position: absolute;
    left: -100px;
    cursor: pointer;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#freeChannel .carousel_container .carousel_next {
    position: absolute;
    right: -100px;
    cursor: pointer;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#freeChannel {
    width: var(--mw-100);
    margin: 0 auto;
    height: auto;
    position: relative;
    background: var(--bg-gray-100);
}

#freeChannel .carousel_title .title {
    background: var(--bg-gray-100);
}

#freeChannel .item_texts .texts_title {
    color: var(--text-green-400);
    font-size: var(--text-xl);
    font-weight: var(--font-light);
}

#freeChannel .carousel_item .item_image::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--bg-white) 1%, transparent 25%);
    z-index: 1;
    left: 0;
}

.hover_play {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background: #00000057;
    backdrop-filter: blur(2px);
    justify-content: center;
    opacity: 0;
    transition: all .3s;
}

.hover_play svg {
    fill: white;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px black);
}

.item_image .hover_play:hover {
    opacity: 1;
}

@media screen and (max-width: 540px) {
    .carousel_title {
        justify-content: center;
        width: 90%;
        margin: 0 auto 30px;
    }

    #freeChannel .carousel_title .title {
        padding: 0 10px;
    }

    .carousel-row {
        width: var(--mw-100);
        padding: 10% 0;
    }

    #freeChannel .carousel_container .carousel_prev {
        display: none;
    }

    #freeChannel .carousel_container .carousel_next {
        display: none;
    }
}